spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: decision-log-writer
      auto-offset-reset: earliest
      max-poll-records: 500
    listener:
      type: batch
      ack-mode: manual

  datasource:
    url: jdbc:postgresql://localhost:5433/opa_logs
    username: opa
    password: opa
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false

opa:
  gzip:
    path: /logs
    max-compressed-size: 32768      # 32KB
    max-decompressed-size: 1048576  # 1MB
  kafka:
    topic: decision-logs
    dlq-topic: decision-logs.dlq
    parking-lot-topic: decision-logs.parking-lot

springdoc:
  show-actuator: true

logging:
  level:
    root: info
