spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/opa_logs
    username: opa
    password: opa
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: false

opa:
  gzip:
    path: /logs
    max-compressed-size: 32768      # 32KB
    max-decompressed-size: 1048576  # 1MB

logging:
  level:
    root: info
